<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar Socio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">



    <!--Jquery para password -->
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>

    <!--FontAwesome -->
    <script src="https://kit.fontawesome.com/f4e6174eab.js" crossorigin="anonymous"></script>

</head>
<body style=" background: #dae1e7;">
<div class="row" style="background: #07d7e3;font-family: 'Oswald';color: white;text-shadow: 1px 1px 1px #000000;">
    <div class="col-sm-2">
        <img th:src="@{santelogo.png}" height="100" width="100"/>
    </div>
    <div class="col-sm-10" style="margin-top: 30px; font-size: 30px;padding-left: 175px">
        <label>ODONTOLOGÍA, MEDICINA & NUTRICIÓN</label>
    </div>
    <label style="font-size: 15px; position: absolute; top: 0; right: 35px;"> ¡Bienvenid@ usuarioA!</label>
    <a class="" data-toggle="tooltip" data-placement="left" title="Salir"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;text-shadow: 1px 1px 1px #000000; top: 0; right: 0; font-size: 10px; margin: 0px;padding: 0px;"><img th:src="@{salir.png}" height="30" width="30"/></button></a>
    <a class=""data-toggle="tooltip" data-placement="left" title="Principal"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;text-shadow: 1px 1px 1px #000000; top: 33px; right: 0; font-size: 10px; margin: 0px;padding: 0px;"><img th:src="@{principal.png}" height="30" width="30"/></button></a>
    <!--<a class=""data-toggle="tooltip" data-placement="left" title="Imprimir"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;font-size: 10px;top: 66px; right: 0;margin: 0px;padding: 0px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{impresora.png}" height="30" width="30"/></button></a>
--></div>

<div class="row bg-dark justify-content-between">
    <ul class="nav nav-tabs" role="tablist" style="font-family: 'Oswald', sans-serif; text-align: center;text-shadow: 1px 0px 0px #000000;">
        <li class="nav-item" >
            <a class="nav-link activeb bg-dark" data-toggle="tab" href="#home" style="color: white;">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-dark" data-toggle="tab" href="#menu1" style=";color: white;">Socios</a>
        </li>
    </ul>

    <div class="form-inline">
        <a class="" href="http://localhost:8080/nuevo" data-toggle="tooltip" data-placement="left" title="Agregar Usuario"><button type="button" class="btn btn-dark btn-xs " style="font-size: 10px;padding: 0px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{usuario.png}" height="40" width="30"/></button></a><br>
        <a class="" href="http://localhost:8080/nuevoSocio" data-toggle="tooltip" data-placement="left" title="Agregar Socio"><button  type="button" class="btn btn-dark " style="font-size: 10px;padding: 0px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{socio.png}" height="40" width="30"/></button></a>
        <input class="form-control mr-sm-2 " style="top: 105px; right: 35px;font-size: 10px; margin-right: auto" type="search" placeholder="Buscar" aria-label="Search">
        <a class="btn btn-dark btn-xs" style="text-shadow: 1px 1px 1px #000000;top: 105px; margin-right: 5px"><img th:src="@{buscar.png}" height="30" width="30"/></a>
    </div>
</div>

<!--Empieza formulario-->
<h2 style="text-align:center;font-family: 'Oswald">AGREGAR SOCIO</h2>

<form id="formCheckPassword" th:action="@{/saveSocio}" th:object="${usuarioSocio}" method="POST" class="m-5" style="font-family: 'Oswald';">

    <div class="form-row">
        <button href="http://localhost:8080/listar" type="button" th:href="@{/listar}"  class="btn btn-info"><i class="far fa-arrow-alt-circle-left"></i>Regresar</button>
        <input class="btn btn-secondary" type="reset" value="Borrar información" style="margin-left: 5px;">

        <div class="col-sm-1">
            <button  th:field="*{id}"  type="text" class="form-control" style="display: none"/>


        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-4">


            <label for="inputnombre">Nombre</label>
            <input maxlength="10" th:field="*{nombre}" style="text-transform: uppercase" type="text" class="form-control" id="inputnombre" placeholder="Nombre(s)" required="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputap">Apellido Paterno</label>
            <input maxlength="15" th:field="*{apellidoPaterno}" style="text-transform: uppercase"  placeholder="Apellido Paterno" type="text" class="form-control" id="inputap" required="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputam">Apellido Materno</label>
            <input maxlength="10" th:field="*{apellidoMaterno}" style="text-transform: uppercase" type="text"  placeholder="Apellido Materno" class="form-control" id="inputam" required="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputArea">Área</label>
            <select th:field="*{area}" style="text-transform: uppercase" id="inputArea" class="form-control" required="">
                <option value="">Seleccionar</option>
                <option value="Odontología">Odontología</option>
                <option value="Otra">Otra</option>

            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputEsp">Especialidad</label>
            <select th:field="*{especialidad}" style="text-transform: uppercase" id="inputEsp" class="form-control" required="">
                <option value="Seleccionar">Seleccionar</option>
                <option value="Denstista">Dentista</option>
                <option value="Ortodoncista">Ortodoncista</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputH">Horario</label>
            <select th:field="*{horarioDeLabor}" style="text-transform: uppercase"id="inputH" class="form-control" required="">
                <option value="Seleccionar" >Seleccionar</option>
                <option value="Lunes a Viernes 2:00 a 8:00pm y Sábados 8:00 a 12:00pm">Lunes a Viernes 2:00 a 8:00pm y Sábados 8:00 a 12:00pm</option>
                <option value="Lunes a Sábado 8:00 am a 2:00pm">Lunes a Sábado 8:00 am a 2:00pm</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputTel">Teléfono</label>
            <input maxlength="13"  placeholder="686-333-33-33" th:field="*{telefono}" type="text" class="form-control" id="inputTel" required="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label >Contraseña</label>
            <input type="password" class="form-control" name="password" id="password"/>
            <input type="password" th:field="*{contrasena}" class="form-control" name="cfmPassword" id="cfmPassword" />

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
</form>



</body>
</html>
<script>
$("#formCheckPassword").validate({
rules: {
password: {
required: true,
minlength: 6,
maxlength: 15,

} ,

cfmPassword: {
equalTo: "#password",
minlength: 6,
maxlength: 15
}


},
messages:{
password: {
required:"Password Requerido",
minlength: "Minimo 6 caracteres",
maxlength: "Maximo 15 caracteres"
},
cfmPassword: {
equalTo: "El password debe ser igual al anterior",
minlength: "Minimo 6 caracteres",
maxlength: "Maximo 15 caracteres"
}
}

});
</script>