<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body class="bg-light">

<div class="text-center" style="margin-bottom:0; background-image: url(../Imagenes/portada.jpg); color: white">
    <h1> A D O P C I O N
        <h2>D E</h2>
        <h1> A N I M A L E S  </h1>
        <b><p style="color: white">Conciencia por los animales!</p></b>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="btn btn-outline-light " href="Insert.html">Agregar Animales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-light" href="#">Borrar Animales</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light" href="#">Consultar lista</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px; font-family: Chiller">
    <div class="row">
        <div class="col-sm-4">

            <h3>Mas</h3>
            <p>Otras paginas web</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="btn btn-outline-primary " href="https://buscafuska.com/pets?utf8=%E2%9C%93&q%5Bcity%5D=&q%5Bcity_id%5D=&q%5Bspecies_id%5D=2&q%5Bbreed_id%5D=&q%5Bsizes%5D%5B%5D=&q%5Bgenders%5D%5B%5D=&q%5Bages%5D%5B%5D=&q%5Blikes_kids%5D=0&q%5Blikes_adults%5D=0&q%5Blikes_pets%5D=0&q%5Benergy_level_ids%5D%5B%5D=&commit=Buscar&gclid=Cj0KCQjwmdzzBRC7ARIsANdqRRkY8ANDMVMq6woyRa7B6gmMF291twz5IpfaYqbl73qs7HvmADzSD0saAmUIEALw_wcB">Opcion#1</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="https://www.google.com.mx/aclk?sa=l&ai=DChcSEwjPy6jw663oAhXGIK0GHTb_DE8YABACGgJwdg&sig=AOD64_3_v1rucU02GNTdLPSvAJNMT_Kybg&rct=j&q=&ved=2ahUKEwixi6Dw663oAhX8FzQIHU2NA_oQ0Qx6BAgSEAE&adurl=">Opcion#2</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary   " href="https://www.fundacion-affinity.org/perros-gatos-y-personas/busco-una-mascota/la-adopcion-una-nueva-oportunidad-para-las-mascotas">Opcion#3</a>
                </li>

            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Encuentra tu mascota ideal</h2>
            <h5>Cómo describirías a tu mascota perfecta? </h5>
            <div class="fakeimg" style="background-image: url(../Imagenes/perro-o-gato.jpg)">Divertido</div>
            <p>Dato Curioso:</p>
            <p>Los perros pueden detectar nuestras emociones que se reflejan en nuestro rostro, son capaces
                de saber si estamos alegres, enfadados o tristes.La temperatura del cuerpo de
                un perro es más alta que la de un humano. La temperatura corporal en los perros está entre 38 y 39º.</p>
            <br>
            <h2>¿Te gustaría un animal enérgico?</h2>
            <h5>O tal vez quieras un fiel compañero para ir a caminar.</h5>
            <div class="fakeimg" style="background-image: url(../Imagenes/perroLoco.jpg)">Diversidad</div>
            <p>Dato Curioso:</p>
            <p>El rango de visión de un gato no incluye la zona por debajo de su nariz. ... Los gatos tienen más
                huesos que los seres humanos, nos ganan por 24. Cuando
                los gatos maúllan lo hacen para comunicarse con humanos y no con otros gatos.</p>
        </div>
    </div>
</div>


</body>
</html>
