<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepción</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style=" background: #FFFAE1;">
<!--Encabezado-->
<div class="row" style="margin-bottom:0; background: #07d7e3;font-family: 'Oswald', sans-serif;color: white; text-align: center">
    <div class="col-sm-2">

        <img src="../static/santelogo.png" height="200" width="200"/>
    </div>
    <div class="col-sm-7" style="margin-top: 60px">
        <h1 > ODONTOLOGÍA, MEDICINA & NUTRICIÓN</h1>
    </div>
</div>


<!--EmpiezaBarra de Herramientas -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top  flex-flow">
    <a class=""><button type="button" class="btn btn-dark">Regresar<br><img src="../static/izq.png" height="50" width="50"/></button></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="" title="Regresar" ><button type="button" class="btn btn-dark">Avanzar<br><img title="Regresar" src="../static/derecha.png" height="50" width="50"/></button></a>
            </li>

            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Actualizar Datos<br><img src="../Imagenes/actualizar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Agregar<br><img src="../static/agregar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Principal <br><img src="../static/principal.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Guardar<br><img src="../static/guardar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Editar<br><img src="../static/editar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Borrar<br><img src="../static/borrar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Imprimir<br><img src="../static/impresora.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Copiar<br><img src="../Imagenes/copiar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Cortar<br><img src="../Imagenes/cortar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Pegar<br><img src="../Imagenes/pegar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Firmar<br><img src="../static/firmar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Salir<br><img src="../static/salir.png" height="50" width="50"/></button></a>
            </li>





        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
        <a class="btn btn-dark"><img src="../static/buscar.png" height="50" width="50"/></a>
    </form>

</nav>
<!--Termina Barra de Herramientas -->

<div class="row">
    <div class="col-sm-11" style="text-align: left; color:black; font-family: 'Mukta', sans-serif; font-size: 35px; ">
    </div>
    <div class="col-sm-1" style="text-align: right; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <a class="" title="Pacientes" ><button type="button" class="btn btn-dark btn-block">Pacientes<br><img title="Pacientes" src="../static/pacientes.png" height="50" width="50"/></button></a>
    </div>
</div>

<div class="row">
    <div class="col-sm-11" style="text-align: left; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
    </div>

    <div class="col-sm-1" style="text-align: right; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <a class="" title="Agenda" ><button type="button" class="btn btn-dark btn-block">Agenda<br><img title="Agendas" src="../static/agenda.png" height="50" width="50"/></button></a>
    </div>
</div>

<div class="row">
    <div class="col-sm-11" style="text-align: left; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
    </div>

    <div class="col-sm-1" style="text-align: right; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <a class="" title="Hoy" ><button type="button" class="btn btn-dark btn-block">Hoy<br><img title="Hoy" src="../static/citas.png" height="50" width="50"/></button></a>
    </div>
</div>

<div class="row">
    <div class="col-sm-11" style="text-align: left; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
    </div>

    <div class="col-sm-1" style="text-align: right; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <a class="" title="Reagendar" ><button type="button" class="btn btn-dark btn-block">Reagendar<br><img title="Reagendar" src="../static/citasNo.png" height="50" width="50"/></button></a>
    </div>
</div>

</body>
</html>