<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style=" background: #FFFAE1;">
<!--Encabezado-->
<div class="row" style="margin-bottom:0; background: #07d7e3;font-family: 'Oswald', sans-serif;color: white; text-align: center">
    <div class="col-sm-2">

        <img th:src="@{santelogo.png}" height="200" width="200"/>
    </div>
    <div class="col-sm-7" style="margin-top: 60px">
        <h1 > ODONTOLOGÍA, MEDICINA & NUTRICIÓN</h1>
    </div>
    <a class=""><button type="button" class="btn btn-dark" style="position: absolute; top: 0; right: 0;">Principal <br><img th:src="@{principal.png}" height="50" width="50"/></button></a>

</div>


<!--EmpiezaBarra de Herramientas -->

<div class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class=""><button type="button" class="btn btn-dark">Regresar<br><img th:src="@{izq.png}" height="50" width="50"/></button></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="" title="Regresar" ><button type="button" class="btn btn-dark">Avanzar<br><img title="Regresar" th:src="@{derecha.png}" height="50" width="50"/></button></a>
            </li>

            <li class="nav-item">
                <!--th:href="@{/nuevo}"-->
                <a class="" href="http://localhost:8080/nuevo"><button type="button" class="btn btn-dark">Agregar<br><img th:src="@{agregar.png}" height="50" width="50"/></button></a>
            </li>

            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Guardar<br><img th:src="@{guardar.png}" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Editar<br><img th:src="@{editar.png}" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Borrar<br><img th:src="@{borrar.png}" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Imprimir<br><img th:src="@{impresora.png}" height="50" width="50"/></button></a>
            </li>

            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Salir<br><img th:src="@{salir.png}" height="50" width="50"/></button></a>
            </li>
        </ul>
    </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
            <a class="btn btn-dark"><img th:src="@{buscar.png}" height="50" width="50"/></a>
        </form>
</nav>
</div>

<!--Termina Barra de Herramientas -->
<!--<div class="row" >
    <div class="col-sm-12" style="text-align: center; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <b><br>
            Usuarios</b>
    </div>

<br><br><br>
    <div class="row">
        <div class="col-sm-9" style="text-align: center; color:black; font-family: 'Mukta', sans-serif; font-size: 20px;">
            <table class="table table table-bordered table-hover" style="font-family: 'Lato', sans-serif;">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Contraseña</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>***</td>
                </tr>

                </tbody>
            </table>
        </div>


</div>
</div>
</div>

</div>-->

<div class="container mt-4" style="font-size: 18px">
    <table class="table table-bordered table-hover">
        <thread class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Contraseña</th>
            </tr>
        </thread>
        <tbody>
            <tr th:each="user:${usuario}">
                <td th:text="${user.nombre}"></td>
                <td th:text="${user.nombre}"></td>
                <td th:text="${user.aPaterno}"></td>
                <td th:text="${user.aMaterno}"></td>
                <td th:text="${user.contrasena}"></td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>

            </tr>

        </tbody>
    </table>
</div>
</body>
</html>