<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap https://fonts.googleapis.com/css?family=Lato&display=swap https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style=" background: #dae1e7;">
    <div class="row" style="background: #07d7e3;font-family: 'Oswald';color: white;text-shadow: 1px 1px 1px #000000;">
        <div class="col-sm-2">
            <img th:src="@{santelogo.png}" height="100" width="100"/>
        </div>
        <div class="col-sm-10" style="margin-top: 30px; font-size: 30px;padding-left: 175px">
            <label>ODONTOLOGÍA, MEDICINA & NUTRICIÓN</label>
        </div>
        <label style="font-size: 15px; position: absolute; top: 0; right: 35px;"> ¡Bienvenid@ usuarioA!</label>
        <a class="" data-toggle="tooltip" data-placement="left" title="Salir"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;text-shadow: 1px 1px 1px #000000; top: 0; right: 0; font-size: 10px; margin: 0px;padding: 0px;"><img th:src="@{salir.png}" height="30" width="30"/></button></a>
        <a class=""data-toggle="tooltip" data-placement="left" title="Principal"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;text-shadow: 1px 1px 1px #000000; top: 33px; right: 0; font-size: 10px; margin: 0px;padding: 0px;"><img th:src="@{principal.png}" height="30" width="30"/></button></a>
        <!--<a class=""data-toggle="tooltip" data-placement="left" title="Imprimir"><button type="button" class="btn btn-dark btn-xs" style="position: absolute;font-size: 10px;top: 66px; right: 0;margin: 0px;padding: 0px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{impresora.png}" height="30" width="30"/></button></a>-->
    </div>
    <div class="row bg-dark justify-content-between">
    <ul class="nav nav-tabs" role="tablist" style="font-family: 'Oswald', sans-serif; text-align: center;text-shadow: 1px 0px 0px #000000;">
        <li class="nav-item" >
            <a class="nav-link activeb bg-dark" data-toggle="tab" href="#home" style="color: white;"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-dark" data-toggle="tab" href="#menu1" style=";color: white;"></a>
        </li>
    </ul>

    <div class="form-inline">
        <a class="" href="/nuevoPaciente" data-toggle="tooltip" data-placement="left" title="Agregar Paciente"><button  type="button" class="btn btn-dark " style="font-size: 10px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{add_50px.png}" height="25" width="25"/></button></a>
        <input class="form-control mr-sm-2 " style="top: 105px; right: 35px;font-size: 10px; margin-right: auto" type="search" placeholder="Buscar" aria-label="Search">
        <a class="btn btn-dark btn-xs" style="text-shadow: 1px 1px 1px #000000;top: 105px; margin-right: 5px"><img th:src="@{buscar.png}" height="30" width="30"/></a>
    </div>
    </div>



   <!-- <div class="row bg-dark d-flex flex-row-reverse" >
        <form class="form-inline col-3">
            <a class="" href="/nuevoPaciente" data-toggle="tooltip" data-placement="left" title="Agregar Paciente"><button  type="button" class="btn btn-dark " style="font-size: 10px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{add_50px.png}" height="25" width="25"/></button></a>
            <a href="http://localhost:8080/"></a>
            <input class="form-control " type="search" placeholder="Buscar" aria-label="Search">
            <a class="btn btn-dark btn-xs" style=" padding: 0px;text-shadow: 1px 1px 1px #000000;"><img th:src="@{buscar.png}" height="30" width="30"/></a>
        </form>
    </div>-->

<!--
<div class="row" >
    <div class="col-sm-11" style="text-align: center; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <b><br>
            Pacientes</b>
    </div>
    <div class="col-sm-1" style="text-align: left; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <a class="" title="HistorialT" ><button type="button" class="btn btn-dark btn-block">Historial de Tratamiento<br><img title="HistorialT" src="../static/historial.png" height="50" width="50"/></button></a>

    </div>
</div> -->
    <div class="row" style="font-family: 'Oswald';font-size: 22px;text-shadow: 1px 1px 1px #000000; ">
        <label style="text-align: center;padding-left: 605px">Pacientes</label>
    </div>
    <div class="container col-sm-12 " >
        <!-- Tab panes -->
        <div class="tab-content" style="font-family: 'Oswald';">
            <div id="home" class="container-fluid tab-pane active">
                <div style="font-size: 18px">
                    <table class="table table-hover  table-condensed" id="tablaP"><!--table-bordered table-striped   nth-child(even) hover td style="background-color: #ddd;td-background-color: #369681-->
                        <thread>
                            <tr style="color: white; background-color: #05dfd7;text-shadow: 1px 1px 1px #000000; text-align: center">
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Edad</th>
                                <th>Fecha de nacimiento</th>
                                <th>Estado Civil</th>
                                <th>Dirección</th>
                                <th>Ciudad</th>
                                <th>Lugar de nacimiento</th>
                                <th>Ocupación</th>
                                <th>Teléfono</th>
                                <th>Acción</th>
                            </tr>
                        </thread>
                        <tbody style="background-color: white; text-align: center;padding: 0;">
                        <tr th:each="patient:${patients}">
                            <!-- <td th:text="${user.id}"></td>-->
                            <td th:text="${patient.nombre}"></td>
                            <td th:text="${patient.a_Paterno}"></td>
                            <td th:text="${patient.a_Materno}"></td>
                            <td th:text="${patient.edad}"></td>
                            <td th:text="${patient.fnacimiento}"></td>
                            <td th:text="${patient.edocivil}"></td>
                            <td th:text="${patient.direccion}"></td>
                            <td th:text="${patient.ciudad}"></td>
                            <td th:text="${patient.lnacimiento}"></td>
                            <td th:text="${patient.ocupacion}"></td>
                            <td th:text="${patient.telefono}"></td>
                            <td>
                                <a th:href="@{/editarPac/}+${patient.id}" data-toggle="tooltip" data-placement="left" title="Editar"><button type="button" class="btn btn-dark" style="font-size: 10px;padding: 0;align: right;"><img th:src="@{editar.png}" height="25" width="25"/></button></a>
                                <a th:onclick="eliminarPac([[${patient.id}]])"data-toggle="tooltip" data-placement="left" title="Borrar"><button type="button" class="btn btn-dark" style="font-size: 10px;padding: 0;align: right;"><img th:src="@{borrar.png}" height="25" width="25"/></button></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="funciones.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>